* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.container {
    width: 80%;
    max-width: 1170px;
    margin: auto;
}

.giallo {
    background-color: yellow;
    height: 400px;
    padding-top: 50px;
}

.row {
    background-color: brown;
    height: 300px;
}

.col {
    background-color: green;
    border: 1px solid black;
}

.card {
    background-color: blue;
}

.grande, .piccola {
    justify-content: center;
    align-items: center;
}

.grande {
    width: 70%;
}

.piccola {
    width: 30%;
}

.main_bianco {
    background-color: white;
}

.big, .small {
    height: 200px;
    width: 80%;
}



/* fine regole generali*/

.nav{
    height: 20px;
}

.row_rosso {
    background-color: red;
    height: 200px;
}

.debug {
    background-color: red;
}

nav {
    height: 50px;
}


nav, .main_bianco {
    padding-top: 1rem;
}


.left, .right {
    width: 25%;
}

.center {
    width: 50%;
}

.contenitore_grigio {
    width: 60%;
    max-width: 1170px;
    margin: auto;
}

.grigio {
    background-color: gray;
    height: 200px;
}

.blu {
    background-color: blue;
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/*fine header*/


.primo {
    padding: 20px;
}








